PUBLIC_SITE_URL=https://gleas.xyz
SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_TOKEN=
AD_MOTION_URL=https://ad-motion.co
COOKIE_MONKEY_URL=https://cookie-monkey.co
WAVY101_URL=https://wavy101.com
WEN_URL=
CONEJO_JO_URL=
THAT_WORK_URL=
